@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

*::-webkit-scrollbar {
  display: none;
}

.custom-scroll {
  overflow-y: auto;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.custom-scroll::-webkit-scrollbar {
  display: none;
}

textarea {
  overflow: auto;
}

*::selection {
  background: #ffb7b7; /* Background color for selected text */
  color: #000; /* Text color for selected text */
}

/* ccutom styles */